*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

p {
  margin: 0;
}

ul, li {
  list-style: none;
  margin: 0;
  padding: 0;
}

a, a:visited, a:hover {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
  background: transparent;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 1400px) {
  .container {
    width: 1400px;
    padding-left: 40px;
    padding-right: 40px;
  }
}

@media (max-width: 1399px) {
  .container {
    width: 1200px;
  }
}

@media (max-width: 1199px) {
  .container {
    width: 970px;
  }
}

@media (max-width: 991px) {
  .container {
    width: 750px;
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media (max-width: 767px) {
  .container {
    width: 100%;
    padding-left: 5px;
    padding-right: 5px;
  }
}

:root {
  direction: rtl;
}

body {
  text-align: right;
  font-family: 'Almarai', sans-serif;
  color: #38383d;
  font-size: 1.125rem;
}

@-webkit-keyframes gravity-effect {
  0% {
    -webkit-transform: translateX(0) translateY(0);
            transform: translateX(0) translateY(0);
  }
  25% {
    -webkit-transform: translateY(-2px) rotate(0.1deg);
            transform: translateY(-2px) rotate(0.1deg);
  }
  50% {
    -webkit-transform: translateY(-2px) rotateY(0deg);
            transform: translateY(-2px) rotateY(0deg);
  }
  75% {
    -webkit-transform: translateY(-4px) rotate(-0.1deg);
            transform: translateY(-4px) rotate(-0.1deg);
  }
}

@keyframes gravity-effect {
  0% {
    -webkit-transform: translateX(0) translateY(0);
            transform: translateX(0) translateY(0);
  }
  25% {
    -webkit-transform: translateY(-2px) rotate(0.1deg);
            transform: translateY(-2px) rotate(0.1deg);
  }
  50% {
    -webkit-transform: translateY(-2px) rotateY(0deg);
            transform: translateY(-2px) rotateY(0deg);
  }
  75% {
    -webkit-transform: translateY(-4px) rotate(-0.1deg);
            transform: translateY(-4px) rotate(-0.1deg);
  }
}

@-webkit-keyframes text-fade-in {
  0% {
    width: 0;
    background: #ffffff;
  }
  70% {
    width: 500px;
    background: #ffffff;
  }
  100% {
    background: transparent;
    width: 500px;
  }
}

@keyframes text-fade-in {
  0% {
    width: 0;
    background: #ffffff;
  }
  70% {
    width: 500px;
    background: #ffffff;
  }
  100% {
    background: transparent;
    width: 500px;
  }
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0.85;
  background: #4b52e4;
}

button, .button {
  color: #4b52e4;
  padding: 6px 20px 10px;
  font-family: inherit;
  font-size: 15px;
  font-weight: 700;
  border-radius: 25px;
}

.big-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 380px;
  padding-bottom: 15px;
  margin: 15px;
  overflow: hidden;
  border-radius: 10px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.11) 0px 4px 10px;
          box-shadow: rgba(0, 0, 0, 0.11) 0px 4px 10px;
}

@media (max-width: 1399px) {
  .big-card {
    width: 359px;
  }
}

@media (max-width: 1199px) {
  .big-card:nth-child(4), .big-card:nth-child(5) {
    display: none;
  }
}

@media (max-width: 991px) {
  .big-card {
    width: 329px;
  }
}

@media (max-width: 767px) {
  .big-card {
    width: 380px;
  }
}

.big-card__img {
  width: 100%;
  height: 277px;
  margin-bottom: 10px;
}

.big-card__content {
  padding: 5px 15px;
}

.big-card__content .project-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 0.9rem;
  font-weight: 700;
  margin-bottom: 15px;
}

.big-card__content .project-details .languages-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.big-card__content .project-details .languages-list li {
  margin: 0 5px;
}

.big-card__content .project-details .languages-list .html {
  color: #ff5940;
}

.big-card__content .project-details .languages-list .css {
  color: #3678e0;
}

.big-card__content .project-details .languages-list .js {
  color: #f59d15;
}

.big-card__content .project-details .languages-list .react {
  color: #59cdee;
}

.big-card__content .project-details .lvl {
  color: #ff5940;
  padding: 5px 10px;
  border-radius: 15px;
}

.big-card__title {
  margin-bottom: 15px;
  font-size: 1.3rem;
}

.big-card__description {
  height: 60px;
  font-size: 1rem;
  overflow: hidden;
}

.big-card.big-card.show-more {
  padding: 0;
}

@media (max-width: 767px) {
  .big-card.big-card.show-more {
    max-height: 100px;
  }
}

.small-card {
  width: 280px;
  height: 320px;
  margin: 15px;
  position: relative;
  border-radius: 7px;
  overflow: hidden;
  -webkit-box-shadow: rgba(0, 0, 0, 0.11) 0px 4px 10px;
          box-shadow: rgba(0, 0, 0, 0.11) 0px 4px 10px;
}

@media (max-width: 1399px) {
  .small-card {
    margin: 10px 5px;
  }
}

@media (max-width: 1199px) {
  .small-card:nth-child(6), .small-card:nth-child(7) {
    display: none;
  }
}

@media (max-width: 991px) {
  .small-card:nth-child(4), .small-card:nth-child(5) {
    display: none;
  }
}

.small-card__img {
  width: 100%;
  height: 260px;
}

.small-card__title {
  height: 50px;
  background: #ffffff;
  font-size: 1rem;
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 575px) {
  .small-card.show-more {
    max-height: 100px;
  }
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1000;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

@media (max-width: 767px) {
  header {
    background: #ffffff;
  }
}

header.home-header .logo {
  color: #ffffff;
}

@media (max-width: 991px) {
  header.home-header .header__desktop {
    color: #ffffff;
  }
}

header a.logo {
  padding: 20px 5px;
  font-weight: 800;
}

@media (max-width: 767px) {
  header a.logo {
    color: #38383d;
  }
}

header .btnHamburger {
  height: 100%;
  padding: 20px 5px;
  cursor: pointer;
}

header .btnHamburger span {
  display: block;
  height: 3px;
  width: 27px;
  background: #38383d;
  border-radius: 3px;
}

header .btnHamburger span:not(:last-child) {
  margin-bottom: 5px;
}

@media (min-width: 768px) {
  header .btnHamburger {
    display: none;
  }
}

@media (max-width: 767px) {
  header .header__desktop {
    display: none;
  }
}

header .header__desktop .nav-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .header__desktop .nav-items .nav-item:not(:first-child) {
  margin-right: 10px;
}

header .header__desktop .nav-items .nav-item a {
  display: block;
  padding: 20px 5px;
  font-size: 1rem;
  font-weight: 600;
}

header .header__mobile {
  position: absolute;
  top: 60px;
  right: 0;
  height: 0;
  width: 100%;
  padding: 0 15px;
  background: #ffffff;
  -webkit-transition: height 0.350s ease-in-out;
  transition: height 0.350s ease-in-out;
  overflow: hidden;
  z-index: 100;
}

@media (min-width: 768px) {
  header .header__mobile {
    display: none;
  }
}

header .header__mobile.open {
  height: 210px;
}

header .header__mobile .nav-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  min-height: 210px;
  text-align: right;
}

header .header__mobile .nav-items .nav-item {
  width: 100%;
}

header .header__mobile .nav-items .nav-item a {
  display: block;
  width: 100%;
  font-size: 1rem;
  padding: 10px 5px;
  font-weight: 600;
}

footer {
  position: relative;
  background: #4b52e4;
}

footer .shape-divider {
  width: 100%;
  height: 83px;
  position: relative;
  top: 0;
  left: 0;
  line-height: 0;
  overflow: hidden;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

footer .shape-divider svg {
  display: block;
  width: calc(190% + 1.3px);
  height: 148px;
  position: relative;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

footer .shape-divider svg .shape-fill {
  fill: #ffffff;
}

footer .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 170px;
  color: #ffffff;
}

footer .content .footer-title {
  font-size: 2.4rem;
  font-weight: 800;
  margin-bottom: 15px;
}

footer .content .footer-description {
  text-align: center;
  max-width: 340px;
  font-size: 1rem;
  line-height: 20px;
}

main section {
  margin-bottom: 100px;
}

main section .section__header {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
}

main section .section__header .sub-title {
  color: #ff5940;
  font-size: 1.3rem;
  font-weight: 400;
  margin-bottom: 7px;
}

main section .section__header .main-title {
  font-size: 3rem;
  font-size: 2.5rem;
  margin-bottom: 15px;
}

main section .section__header .description {
  max-width: 460px;
  color: #87878a;
  font-size: 1rem;
}

main section .section__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

main section .section__cards .show-more {
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  background: url("../../images/show-more-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
}

main section .section__cards .show-more .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 2;
}

main section .section__cards .show-more .content h3 {
  font-weight: 900;
  margin-left: 20px;
}

main section .section__cards .show-more .content i {
  font-size: 1.5rem;
  margin: 4px -1px;
}

main .hero {
  height: 850px;
  color: #ffffff;
  background: url("../../images/bg-rev-1.svg");
  background-repeat: no-repeat;
  background-size: 1500px;
  background-position: 100% -1px;
  margin-bottom: 0 !important;
}

@media (max-width: 1399px) {
  main .hero {
    height: 700px;
    background-size: 1280px;
  }
}

@media (max-width: 991px) {
  main .hero {
    text-align: center;
    height: 590px;
    background-size: 1870px;
    background-position: 100% -436px;
  }
}

@media (max-width: 575px) {
  main .hero {
    height: 510px;
    background-position: 100% -536px;
  }
}

main .hero__img {
  overflow: hidden;
}

main .hero__img img {
  width: 800px;
  position: relative;
  top: 143px;
  right: 1120px;
  z-index: -1;
}

@media (max-width: 991px) {
  main .hero__img img {
    display: none;
  }
}

@media (max-width: 1399px) {
  main .hero__img img {
    top: 100px;
    right: 920px;
  }
}

main .hero__text {
  position: relative;
  text-align: right;
  top: -160px;
}

@media (max-width: 1399px) {
  main .hero__text {
    top: -215px;
  }
}

@media (max-width: 991px) {
  main .hero__text {
    top: 160px;
    max-width: 500px;
    text-align: center;
  }
}

@media (max-width: 575px) {
  main .hero__text {
    top: 130px;
    max-width: 336px;
  }
}

main .hero__text h1 {
  font-size: 4.1rem;
  font-weight: 800;
  margin-bottom: 40px;
  word-wrap: break-word;
}

@media (max-width: 575px) {
  main .hero__text h1 {
    font-size: 2.85rem;
  }
}

main .hero__text h2 {
  font-size: 2.4rem;
  font-weight: 100;
  margin-bottom: 10px;
}

@media (max-width: 575px) {
  main .hero__text h2 {
    font-size: 1.65rem;
  }
}

main .hero__text p {
  max-width: 470px;
  margin-bottom: 35px;
  line-height: 1.45rem;
}

@media (max-width: 575px) {
  main .hero__text p {
    font-size: 1rem;
  }
}

main .hero__text .button {
  background: #ffffff;
  color: #4b52e4;
}

main .features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
  position: relative;
}

@media (max-width: 1199px) {
  main .features {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

main .features__header.section__header {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  text-align: left;
  padding: 0 10px;
}

@media (max-width: 1199px) {
  main .features__header.section__header {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    margin: 20px 0;
  }
}

main .features__header.section__header .button {
  background-color: #eeeff1;
  color: #38383d;
  margin-top: 30px;
}

@media (max-width: 1199px) {
  main .features__header.section__header .button {
    display: none;
  }
}

main .features__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: baseline;
      align-content: baseline;
  padding: 0 30px;
  overflow: hidden;
}

@media (max-width: 991px) {
  main .features__cards {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 767px) {
  main .features__cards {
    padding: 0;
  }
}

main .features__cards .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  max-width: 200px;
  margin: 15px;
}

@media (max-width: 1199px) {
  main .features__cards .card {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 15px 10px;
    text-align: center;
  }
}

@media (max-width: 575px) {
  main .features__cards .card {
    max-width: 250px;
  }
}

main .features__cards .card i {
  color: #ff5940;
  font-size: 2.3rem;
  margin-bottom: 12px;
}

main .features__cards .card h4 {
  margin-bottom: 10px;
}

main .features__cards .card p {
  color: #87878a;
  font-size: 1rem;
}

main .projects__cards .show-more .overlay {
  background: #4b52e4;
}

main .snippets__cards .show-more .overlay {
  background: #ff5940;
}
/*# sourceMappingURL=main.css.map */