*, *::before, *::after{
    box-sizing: inherit;
}
html{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
}
h1, h2, h3, h4, h5, h6{
    margin: 0;
}
p{
    margin: 0;
}
ul, li{
    list-style: none;
    margin: 0;
    padding: 0;
}
a, a:visited, a:hover{
    text-decoration: none;
    color: inherit;
}
button{
    cursor: pointer;
    border: none;
    outline: none;
    background: transparent;
}
.container{
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    @include breakpoint-up(xxlarge){
        width: 1400px;
        padding-left: 40px;
        padding-right: 40px;
    }
    @include breakpoint-down(xlarge){
        width: 1200px;
    }
    @include breakpoint-down(large){
        width: 970px;
    }
    @include breakpoint-down(meduim){
        width: 750px;
        padding-left: 15px;
        padding-right: 15px;
    }
    @include breakpoint-down(small){
        width: 100%;
        padding-left: 7px;
        padding-right: 7px;
    }
}
