main{
    section {
        margin-bottom: 100px;
        .section__header{
            text-align: center;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-bottom: 20px;
            .sub-title{
                color: $red;
                font-size: 1.3rem;
                font-weight: 400;
                margin-bottom: 7px;
            }
            .main-title{
                font-size: 3rem;
                font-size: 2.5rem;
                margin-bottom: 15px;
            }
            .description{
                max-width: 460px;
                color: $gray;
                font-size: 1rem;
            }
        }
        .section__cards{
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            .show-more{
                color: $white;
                display: flex;
                justify-content: center;
                align-items: center;
                position: relative;
                background: url("../images/show-more-bg.png");
                background-size: cover;
                background-repeat: no-repeat;
                background-position: top center;
                .content{
                    display: flex;
                    z-index: 2;
                    h3{
                        font-weight: 900;
                        margin-left: 20px;
                    }
                    i{
                        font-size: 1.5rem;
                        margin: 4px -1px;
                    }
                }
            }
        }
    }

    .hero{
        height: 850px;
        color: $white;
        background: url('../images/bg-rev-1.svg');
        background-repeat: no-repeat;
        background-size: 1500px;
        background-position: 100% -1px;
        margin-bottom: 0 !important;
        @include breakpoint-down(xlarge){
            height: 700px;
            background-size: 1280px;
        }
        @include breakpoint-down(meduim){
            text-align: center;
            height: 590px;
            background-size: 1870px;
            background-position: 100% -436px;
        }
        @include breakpoint-down(xsmall){
            height: 510px;
            background-position: 100% -536px;
        }
        &__img{
            overflow: hidden;
            img{
                width: 800px;
                position: relative;
                top: 143px;
                right: 1120px;
                z-index: -1;
                @include breakpoint-down(meduim){
                    display: none;
                }
                @include breakpoint-down(xlarge){
                    top: 100px;
                    right: 920px;
                }
            }
        }
        &__text{
            position: relative;
            text-align: right;
            top: -160px;
            @include breakpoint-down(xlarge){
                top: -215px;
            }
            @include breakpoint-down(meduim){
                top: 160px;
                max-width: 500px;
                text-align: center;
            }
            @include breakpoint-down(xsmall){
                top: 130px;
                max-width:336px;
            }
            h1{
                font-size: 4.1rem;
                font-weight: 800;
                margin-bottom: 40px;
                word-wrap: break-word;
                @include breakpoint-down(xsmall){
                    font-size: 2.85rem;
                }
            }
            h2{
                font-size: 2.4rem;
                font-weight: 100;
                margin-bottom: 10px;
                @include breakpoint-down(xsmall){
                    font-size: 1.65rem;
                }
            }
            p{
                max-width: 470px;
                margin-bottom: 35px;
                line-height: 1.45rem;
                @include breakpoint-down(xsmall){
                    font-size: 1rem;
                }
            }
            .button{
                background: $white;
                color: $purple;
            }
        }
    }
    .features{
        display: flex;
        align-items: center;
        padding: 10px;
        position: relative;
        @include breakpoint-down(large){
            flex-direction: column;
        }
        &__header.section__header{
            flex: 1;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-end;
            text-align: left;
            padding: 0 10px;
            @include breakpoint-down(large){
                align-items: center;
                text-align: center;
                margin: 20px 0;
            }
            .button{
                background-color: #eeeff1;
                color: $black;
                margin-top: 30px;
                @include breakpoint-down(large){
                    display: none;
                }
            }
        }
        &__cards{
            display: flex;
            flex: 1;
            justify-content: start;
            flex-wrap: wrap;
            align-content: baseline;
            padding: 0 30px;
            overflow: hidden;
            @include breakpoint-down(meduim){
                justify-content: center;
            }
            @include breakpoint-down(small){
                padding: 0;
            }
            .card{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;
                max-width: 200px;
                margin: 15px;
                @include breakpoint-down(large){
                    align-items: center;
                    margin: 15px 10px;
                    text-align: center;
                }
                @include breakpoint-down(xsmall){
                    max-width: 250px;
                }
                i{
                    color: $red;
                    font-size: 2.3rem ;
                    margin-bottom: 12px;
                }
                h4{
                    margin-bottom: 10px;
                }
                p{
                    color: $gray;
                    font-size: 1rem;
                }
            }
        }
    }
    .projects{
        &__cards{
            .show-more{ .overlay{ background: $purple; } }
        }    
    }
    .snippets{
        &__cards{
            .show-more{ .overlay{ background: $red; } }
        }
    }
}
