footer{
    height: 400px;
    position: relative;
    background: #4b52e4;

    .custom-shape-divider-top-1627318042 {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        overflow: hidden;
        line-height: 0;
        transform: rotate(180deg);
        height: 83px;
    }
    
    .custom-shape-divider-top-1627318042 svg {
        position: relative;
        display: block;
        width: calc(190% + 1.3px);
        height: 148px;
        transform: rotateY(180deg);
    }
    
    .custom-shape-divider-top-1627318042 .shape-fill {
        fill: #FFFFFF;
    }
}



